img{
    height: 100px;
    width: 100px;
}

#header{
    padding-top: 25px;
    height: 200px;
    width: 600px;
    
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.game-page{
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-gap: 10px;
    margin: 50px;
    justify-content: center;
    perspective: 500px;
}
 .card {
     position: relative;
     height: 175px;
     width: 125px;
     transform-style: preserve-3d;
 }

 .card-face{
     position: absolute;
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     backface-visibility: hidden;
     border-radius: 12px;
     border-width: 1px;
     border-style: solid;
     transition: transform 800ms ease-in-out;  
 }

 /* An idea for JavaScript: toggle "hidden" class when clicked. Remove "hidden" class permanently when two cards match*/
 .card .hidden .card-back{
    transform: rotateY(-180deg);
 }

 .card .hidden .card-front{
    transform: rotateX(0deg);
 }

 .card-back{
    background-color: rgb(104, 104, 187);
    border-color: black;
 }

 .card-front{
     transform: rotateY(180deg);
     background-color: orange;
 }

 .pokeball{
    align-self: center;
    transform: scale(.9);
    transform: translationX(5px);
    transition: transform 100ms ease-in-out;   
}

.pokeball:hover {
   transform: scale(1)
}

/* Can remove the dance animations below since it might be weird to see a card dancing? */

 .card-front .dance{
     animation: dance 1s linear infinite 1s
 }

 @keyframes dance{
     0%, 100% {
         transform: rotate(0);
     }
     25%{
         transform: rotate(-30deg);
     }
     75%{
        transform: rotate(30deg)
     }
 }

